build/
managed_components/
dependencies.lock
__pycache__/
*.pyc
*.egg-info/
dist/
.venv/
# Temporary documentation folder (only for development)
.docs/

# IDE/Editor specific files
.clangd
.vscode/

# ESP-IDF generated configuration
sdkconfig
sdkconfig.old
